* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}

header {
  width: 100%;
  height: 80vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
}

#toggle {
  display: none;
}

#logo {
  background: url("./assets/BOSAKO.png") no-repeat;
  width: 15%;
  height: 10vh;
}
.nav-links {
  display: flex;
  list-style: none;
  color: #fff;
}
.nav-links li {
  padding-left: 5rem;
}

ul a {
  color: #fff;
  text-decoration: none;
}

ul a:hover {
  color: rgb(112, 122, 177);
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#about {
  display: block;
  width: 100%;
  min-height: 100vh;
  text-align: center;
}
#about h1 {
  text-align: center;
  padding: 4rem;
}
#about article {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  min-height: 300px;
  margin: 0 auto;
  padding: 4rem;
  border-top-right-radius: 45px;
  border-bottom-left-radius: 45px;
  background: linear-gradient(-45deg, #ee7752, #5c3c48, #366779, #3c9c86);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: #fff;
}

.landing {
  min-height: 100vh;
  background: url("./assets/background.jpg") center center no-repeat;
  background-size: cover;
  padding: 0rem 5rem;
}

.intro {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-text {
  display: block;
  text-align: center;
  color: #f4f4f4;
  font-size: 3rem;
  font-family: "Patrick Hand", cursive;
}
.hide {
  background: #000;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}
.slider {
  background: rgb(70, 70, 80);
  background: linear-gradient(
    90deg,
    rgba(70, 70, 80, 1) 0%,
    rgba(62, 62, 117, 1) 53%,
    rgba(127, 194, 208, 1) 100%
  );
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

section {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(24, 24, 48, 1) 37%,
    rgba(40, 142, 163, 1) 100%
  );
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

h1 {
  text-align: center;
  padding: 2rem 0 0 0;
  color: #fff;
}

.gallery-highlight {
  width: 80%;
  padding: 1rem 0 0 0;
}

.gallery-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  align-items: center;
  width: 100%;
  padding: 2rem;
}
.gallery-preview img {
  height: 100px;
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.3s ease;
  border: 1px solid #f8f8f8;
}

img.gallery-active {
  opacity: 1;
}

.mobile-photos {
  display: none;
  transform: translateY(100%);
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo path:nth-child(2) {
  stroke-dasharray: 632.6542358398438;
  stroke-dashoffset: 632.6542358398438;
  animation: line-anime 2s ease forwards 5s;
}
.logo path:nth-child(3) {
  stroke-dasharray: 549.3995361328125;
  stroke-dashoffset: 549.3995361328125;
  animation: line-anime 2s ease forwards 5.3s;
}
.logo path:nth-child(4) {
  stroke-dasharray: 555.6235961914062;
  stroke-dashoffset: 555.6235961914062;
  animation: line-anime 2s ease forwards 5.6s;
}
.logo path:nth-child(5) {
  stroke-dasharray: 515.8591918945312;
  stroke-dashoffset: 515.8591918945312;
  animation: line-anime 2s ease forwards 5.9s;
}
.logo path:nth-child(6) {
  stroke-dasharray: 547.296142578125;
  stroke-dashoffset: 547.296142578125;
  animation: line-anime 2s ease forwards 6.2s;
}
.logo path:nth-child(7) {
  stroke-dasharray: 549.3998413085938;
  stroke-dashoffset: 549.3998413085938;
  animation: line-anime 2s ease forwards 6.5s;
}

#location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  text-align: center;
}
#location h1 {
  padding: 1rem;
}
#location .map {
  width: 100%;
  display: grid;
  grid-row: 1;
<<<<<<< HEAD
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
=======
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
>>>>>>> 480c6bc920d3be853985d0548963e2a3c2276c4b
  padding: 1rem;
}

.map h3 {
  color: #fff;
  padding: 0 0 1rem 0;
  text-decoration: underline;
}
.map .telefon,
.email {
  color: #fff;
  padding: 1rem;
}
.map a {
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
}
.beograd,
.magacin,
.kelebija,
.subotica {
  display: grid;
  grid-template-rows: 2;
  padding: 1rem 0;
  height: 350px;
  border: 1px solid #fff;
}
footer {
  display: block;
  text-align: center;
  background: #080808;
  color: #fff;
  padding: 1rem 0;
}
@keyframes line-anime {
  to {
    stroke-dashoffset: 0;
  }
}

@media (max-width: 499px) {
  .landing {
    padding: 0;
    background: url("./assets/background-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  nav {
    display: block;
    background: rgb(70, 70, 80);
    background: linear-gradient(
      90deg,
      rgba(70, 70, 80, 1) 0%,
      rgba(62, 62, 117, 1) 53%,
      rgba(127, 194, 208, 1) 100%
    );
    width: 100%;
    text-align: center;
  }
  nav ul {
    display: none;
  }

  #toggle {
    display: block;
    font-size: 3rem;
    color: #fff;
  }
  #toggle a {
    color: #ccc;
    text-decoration: none;
  }
  #logo {
    width: 100%;
    height: 10vh;
    display: block;
    background-position: center;
  }
  .nav-links {
    display: block;
    text-align: center;
  }
  .nav-links li {
    padding: 0;
    padding: 1rem 0;
  }

  #about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    min-height: 420px;
  }

  #about article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 1rem;
    height: 350px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    background: linear-gradient(-45deg, #ee7752, #5c3c48, #366779, #3c9c86);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: #fff;
    font-size: 1rem;
  }

  .logo {
    width: 80%;
    top: 75%;
  }
  .intro {
    height: 85vh;
  }
  .intro-text {
    font-size: 1rem;
  }

  .gallery {
    width: 100%;
  }

  .gallery h1 {
    padding-bottom: 1rem;
  }

  .gallery-highlight {
    display: none;
    transform: translateY(100%);
  }
  .gallery-preview img {
    display: none;
    transform: translateY(100%);
  }
  .mobile-photos {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateY(0);
  }
  .mobile-photos img {
    display: block;
    width: 100%;
    height: 300px;
  }

  #mobile-expand {
    display: none;
  }
  .mobile-btn {
    height: 2rem;
    background-color: rgb(255, 255, 255);
    font-weight: 400;
    width: 30%;
    border-radius: 0.5rem;
  }
  .mobile-btn a {
    text-decoration: none;
    color: #333;
  }
  #loaction .map {
    padding: 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  #logo {
    display: block;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-10%, -50%);
    width: 100%;
  }
  .nav-links li {
    padding: 2rem;
  }
  #about {
    min-height: 400px;
  }
  .gallery-preview {
    gap: 10px;
  }
}
@media (min-width: 932px) and (max-width: 1231px) {
  #location .map {
    width: 100%;
    display: grid;
    grid-row: 1;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    padding: 1rem;
  }
}
